Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.{d.ts,ts}": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
}

fix: Clear dbus pid file on startup
  entry.sh
Due: none

fix: Properly bind context to healthchecks
  src/supervisor.coffee
Due: resin-lint

fix: Only apply supervisor api authentication after healthcheck entry
  src/supervisor-api.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.6.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Wrap services.getAll in a bluebird promise
  src/application-manager.coffee
Due: resin-lint

v9.6.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

TEMP COMMIT
  src/actions/index.ts
  src/application-manager.ts
  src/compose/images.ts
  src/compose/network-manager.ts
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/volumes.ts
  src/device-api/common.d.ts
  src/device-api/v1.d.ts
  src/device-state.d.ts
  src/event-tracker.ts
  src/lib/docker-utils.ts
  src/proxyvisor.d.ts
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Fix typo in OVERRIDE_LOCK
  src/device-config.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Move legacy renaming to formatting function
  src/device-config.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Build: Respect package-lock when building
  Dockerfile
Due: none

Pin terser version to avoid breaking change in minor update
  package-lock.json
  package.json
Due: none

v9.6.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Install newer npm in build to ensure the use of npm ci
  Dockerfile
Due: none

Unpin terser, now that we can use CI
  Dockerfile
  package-lock.json
  package.json
Due: none

tmp
  Dockerfile
Due: none

fix: Don't attempt a pull if the token requests fails
  src/lib/docker-utils.ts
  src/lib/errors.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.6.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Ensure the balena-fin always has it's overlay assigned
  src/device-config.ts
  test/13-device-config.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.6.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add application status endpoint
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

misc: Improve typings
  src/application-manager.d.ts
  src/compose/service-manager.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add the release to the status endpoint
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Backoff on image download error
  src/compose/errors.ts
  src/compose/images.ts
  src/device-state.coffee
  src/lib/constants.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Make the failure backoff time the same as the appUpdatePollTime
  src/application-manager.coffee
  src/compose/images.ts
  src/device-state.coffee
  src/lib/constants.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

fix: Rework delete-then-download handling in state engine
  src/application-manager.coffee
Due: resin-lint

v9.7.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Don't consider leading whitespace in environment variables on compare
  src/compose/service.ts
  test/14-application-manager.spec.coffee
  test/lib/application-manager-test-states.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Remove all whitespace trimming
  src/compose/service.ts
  src/lib/conversions.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

fix: Normalize ports from compose file on instantiation
  src/compose/ports.ts
  test/16-ports.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.7.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

tmp
  package-lock.json
  package.json
  src/actions/index.ts
  src/application-manager.coffee
  src/application-manager.ts
  src/compose/images.ts
  src/compose/network.ts
  src/compose/sanitise.ts
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/types/comparable.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/compose/volumes.ts
  src/device-state.coffee
  src/types/state.ts
  typings/dockerode-ext.d.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Set default delta apply timeout of 0
  src/config/schema-type.ts
  src/device-config.ts
  src/lib/docker-utils.ts
  test/05-device-state.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.7.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Make sure to correctly convert config emit events after validation
  src/config/index.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.7.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Remove environment variable whitespace trimming
  src/lib/conversions.ts
  test/15-conversions.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Allow newlines to be part of environment variables
  src/lib/conversions.ts
  test/15-conversions.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.7.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

tmp
  src/application-manager.ts
  src/compose/types/service.ts
  src/config/schema-type.ts
  typings/global.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier
