Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.{d.ts,ts}": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
}

VersionBot: Fix incomplete version in CHANGELOG.yml
  .versionbot/CHANGELOG.yml
Due: none

v9.0.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

refactor: Convert migration module to typescript
  src/lib/migration.coffee
  src/lib/migration.ts
  src/types/application.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Convert request module to typescript
  package.json
  src/lib/request.coffee
  src/lib/request.ts
  typings/resumable-request.d.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Convert systemd module to typescript
  src/lib/systemd.coffee
  src/lib/systemd.ts
  typings/dbus-native.d.ts
  typings/global.d.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Convert update-lock module to typescript
  package.json
  src/device-state.coffee
  src/lib/errors.ts
  src/lib/update-lock.coffee
  src/lib/update-lock.d.ts
  src/lib/update-lock.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

misc: Update package-lock
  package-lock.json
Due: none

v9.0.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

device-api: Add morgan to log api requests
  package-lock.json
  package.json
  src/supervisor-api.coffee
Due: resin-lint

Only run builds for non-native architectures on merge to master
  .circleci/config.yml
Due: none

v9.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update to webpack 4
  package-lock.json
  package.json
  webpack.config.js
Due: none

v9.2.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update pinejs-client to pinejs-client-request 5.x
  automation/deploy-to-balena-cloud.js
  package-lock.json
  package.json
  src/api-binder.coffee
  src/device-state.coffee
  tsconfig.json
Due: resin-lint

v9.2.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

deps: Pin event-stream to avoid false audit warning
  package-lock.json
  package.json
Due: none

v9.2.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

fix: Correctly type top level network IPAM config
  src/compose/network.ts
  src/compose/types/network.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.2.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Use fork-ts-checker to speed up the webpack build
  package-lock.json
  package.json
  webpack.config.js
Due: none

Force `devtool: none` to avoid issues with env.noOptimize
  webpack.config.js
Due: none

v9.2.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Use webpack watching for sync.js for a faster dev cycle
  sync.js
Due: none

Use webpack watching for sync.js for a faster dev cycle
  sync.js
  webpack.config.js
Due: none

v9.2.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

TMP: Add livepush
  package.json
  sync.js
Due: none

misc: Exclude typescript files from resulting image
  Dockerfile
Due: none

v9.2.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

refactor: Convert host-config module to typescript
  package.json
  src/host-config.coffee
  src/host-config.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Add default export to logger module
  src/logger.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

types: Make DeviceApplicationState reflect state endpoint
  src/application-manager.d.ts
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Change export style of db to named
  src/application-manager.d.ts
  src/config/index.ts
  src/db.ts
  src/local-mode.ts
  src/supervisor.coffee
  test/02-db.spec.coffee
  test/03-config.spec.coffee
  test/05-device-state.spec.coffee
  test/11-api-binder.spec.coffee
  test/14-application-manager.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Convert DeviceConfig module to typescript
  src/api-binder.coffee
  src/device-config.coffee
  src/device-config.ts
  src/device-state.coffee
  test/13-device-config.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.2.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

compose: Normalise target ports for comparison with docker's output
  src/compose/ports.ts
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

tests: Add test case for ascending ports issue
  test/16-ports.spec.coffee
  test/data/ports/not-ascending/compose.json
  test/data/ports/not-ascending/port-bindings.json
Due: resin-lint

refactor: Generate and normalise PortMaps from compose ports in-class
  src/compose/ports.ts
  src/compose/service.ts
  test/16-ports.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.2.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

refactor: Change config modules export type to new-style
  src/config/functions.ts
  src/config/index.ts
  src/device-config.ts
  src/host-config.ts
  src/local-mode.ts
  src/supervisor.coffee
  test/03-config.spec.coffee
  test/05-device-state.spec.coffee
  test/11-api-binder.spec.coffee
  test/14-application-manager.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier
