Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.{d.ts,ts}": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
}

v9.12.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

CHANGELOG.md: Add entry for 9.11.4 that was skipped by versionbot
  CHANGELOG.md
Due: none

Fix service comparison when starting a stopped service
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.12.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add a random jitter to target state polls, and a config var to ignore update notifications and not poll immediately after startup
  src/api-binder.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  test/05-device-state.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Fix test for deviceConfig.getDefaults with the addition of SUPERVISOR_INSTANT_UPDATE_TRIGGER
  test/13-device-config.spec.coffee
Due: resin-lint

In /v1/update, return 202 when we're not updating immediately
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.13.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ux: Remove service already running log message
  src/compose/service-manager.ts
  src/lib/log-types.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

ux: Show a supervisor starting log message in dashboard
  src/supervisor.coffee
Due: resin-lint

Refactor container logging interface and rename logging-backends
  src/logger.ts
  src/logging-backends/index.ts
  src/logging/balena-backend.ts
  src/logging/container.ts
  src/logging/index.ts
  src/logging/local-backend.ts
  src/logging/log-backend.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Report all logs from a container's runtime
  src/application-manager.coffee
  src/logger.ts
  src/logging/container.ts
  src/migrations/M00004.js
  src/supervisor.coffee
  test/12-logger.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

fix: Fix non-tty container message parsing
  src/logging/container.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Run database cleanup on startup in addition to once a day
  src/application-manager.coffee
Due: resin-lint

v9.14.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

avahi: Remove default service definitions
  entry.sh
Due: none

v9.14.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

types: Upgrade dockerode types, and remove fixes which are superceded
  package-lock.json
  package.json
  src/compose/volumes.ts
  typings/dockerode-ext.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.14.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Don't attempt to report any state during local mode
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.14.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

DO NOT MERGE
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

compose: Remove unique expose entries after adding all entries
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.14.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: Correctly handle multiple hosts ports pointing to a container port
  src/compose/ports.ts
  src/compose/service.ts
  test/16-ports.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

misc: Fix spurious test errors
  test/05-device-state.spec.coffee
  test/11-api-binder.spec.coffee
  test/14-application-manager.spec.coffee
Due: resin-lint

v9.14.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: Run db log cleanup on init - after migrations
  src/application-manager.coffee
Due: resin-lint

v9.14.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Perform case-insensitive checking when converting booleans from strings
  src/config/types.ts
  src/lib/validation.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Fix dockerode type failures
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.14.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: fix up some stray resin references
  docs/API.md
Due: none

v9.14.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: make headers consistent
  docs/API.md
Due: none

v9.14.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Upgrade to node 8 for supported architectures
  Dockerfile
  package-lock.json
  package.json
Due: none

Make delta application logs easier to parse for multicontainer
  src/application-manager.coffee
  src/compose/images.ts
  src/lib/docker-utils.ts
  test/14-application-manager.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Cache delta auth token request results for 10 minutes
  src/lib/docker-utils.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier
