Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add package.lock file
  package-lock.json
Due: none

v8.4.0
  CHANGELOG.md
  package.json
Due: none

compose: Change default grace period to 10s
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.4.1
  CHANGELOG.md
  package.json
Due: none

Pin event-stream to avoid picking up vulnerable flatmap-stream
  package-lock.json
  package.json
Due: none

v8.4.2
  CHANGELOG.md
  package.json
Due: none

compose: Change default stop signal from '' to SIGTERM
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

compose: Set default config for stopSignal to SIGTERM
  src/compose/service.ts
  src/compose/utils.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.4.3
  CHANGELOG.md
  package.json
Due: none

fix: Set default apiEndpoint to empty
  src/application-manager.coffee
  src/config.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Handle empty apiEndpoint when detecting mixpanel host
  src/config/functions.ts
  src/event-tracker.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

config: Switch default device type to `unknown`
  src/config.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Improve UX when apps.json is not present
  src/device-state.coffee
  src/lib/errors.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Don't start connectivity check when in offlineMode
  src/device-state.coffee
Due: resin-lint

config: Move config.ts -> config/index.ts
  src/config/index.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Allow local mode to be controlled via config.json
  src/config.ts
  src/migrations/M00001.js
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

config: Set default apiKey of empty string to avoid undefined keys
  src/config/functions.ts
  src/config/index.ts
  test/11-api-binder.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.5.0
  CHANGELOG.md
  package.json
Due: none

Fix return type for blinking instantiation function
  typings/blinking.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Update network-checker to pick up typings
  package.json
Due: none

Convert network module to typescript
  src/network.coffee
  src/network.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Update package-lock
  package-lock.json
Due: none

v8.5.1
  CHANGELOG.md
  package.json
Due: none

device-api: Add container id endpoint
  docs/API.md
  src/compose/service-manager.d.ts
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.6.0
  CHANGELOG.md
  package.json
Due: none

fix: When updating from a legacy supervisor, use updated resource ids and image URL from the API
  src/device-state.coffee
  src/supervisor.coffee
Due: resin-lint

v8.6.1
  CHANGELOG.md
  package.json
Due: none

compose: Fix network option field names and update dockerode types
  package-lock.json
  package.json
  src/compose/utils.ts
  test/04-service.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.6.2
  CHANGELOG.md
  package.json
Due: none

localMode: Remove local mode from device-config
  src/device-config.coffee
  test/05-device-state.spec.coffee
Due: resin-lint

unmanged: Don't require a device name when setting a target state
  src/config/index.ts
  src/device-state.coffee
  test/03-config.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.6.3
  CHANGELOG.md
  package.json
Due: none

docs: Clarify that older supervisors use RESIN_ variables
  docs/API.md
Due: none

v8.6.4
  CHANGELOG.md
  package.json
Due: none

Update mixpanel node dependency, to pick up path changes
  package-lock.json
  package.json
Due: none

v8.6.5
  CHANGELOG.md
  package.json
Due: none

docs: Clarify Supervisor envvars exposure via label
  docs/API.md
Due: none

v8.6.6
  CHANGELOG.md
  package.json
Due: none

Update docker-progress to reduce memory usage when pulling images
  package-lock.json
  package.json
Due: none

Path conditions:
  resin-lint: any of: *.coffee
  prettier --config ./node_modules/resin-lint/config/.prettierrc --write: any of: *.{d.ts,ts}
  resin-lint --typescript --no-prettier: any of: *.{d.ts,ts}
