Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.{d.ts,ts}": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
}

Add repo.yml which declares ESR version 9.15.x
  repo.yml
Due: none

Add mocha tests linter
  automation/lint-mocha-tests.js
  package.json
Due: none

v9.18.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Re-parallelise current image retrieval code
  src/compose/images.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Ensure that all architectures use a node version that supports ci
  Dockerfile
  Dockerfile.debug
Due: none

Use jessie base images for i386-nlp
  Dockerfile
  Dockerfile.debug
Due: none

fix: When reporting initial config, avoid creating a "VPN enabled" unnecessary override
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.15.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Seperate volume handling into manager and object classes
  src/application-manager.coffee
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/compose/volumes.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Pass around instantiated Network objects when comparing state
  src/application-manager.coffee
  test/14-application-manager.spec.coffee
Due: resin-lint

Keep the network and volume models consistent across usage
  src/application-manager.coffee
  src/compose/network-manager.ts
  src/compose/network.ts
  src/compose/volume-manager.ts
  src/compose/volume.ts
  src/device-state.coffee
  test/14-application-manager.spec.coffee
  test/18-compose-network.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add tests for Volume
  package-lock.json
  package.json
  test/20-compose-volume.ts
  test/fast-mocha.opts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Fix network composition parsing, and correctly report compose config
  package-lock.json
  package.json
  src/compose/network.ts
  src/compose/service.ts
  src/compose/types/network.ts
  src/compose/volume.ts
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.18.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Apply targetState immediately after update request Cancel delayed promise if exists and schedule a new one without delay, when /v1/update is called
  src/api-binder.ts
  src/device-state.coffee
  test/05-device-state.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Use resin-lint for mocha tests check
  .lintstagedrc
  automation/lint-mocha-tests.js
  package-lock.json
  package.json
Due: none

v9.18.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

v9.18.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add more typescript conversions and export utilities from existing
  src/api-binder.ts
  src/app.coffee
  src/app.ts
  src/application-manager.d.ts
  src/config/index.ts
  src/device-state.d.ts
  src/event-tracker.ts
  src/logger.ts
  src/supervisor.coffee
  src/supervisor.ts
  webpack.config.js
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Don't attempt to setup a log stream to the cloud before provision
  src/api-binder.ts
  src/config/index.ts
  src/logger.ts
  src/logging/balena-backend.ts
  src/supervisor.ts
  test/18-startup.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Upgrade Dockerode types
  package-lock.json
  package.json
Due: none

v9.18.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: fix up broken meta-balena proxy link
  docs/API.md
Due: none

v9.18.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Dont try to set the commit if it's undefined
  src/application-manager.coffee
  src/config/index.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Reorder debug dockerfile to faster livepushes
  Dockerfile.debug
Due: none

Only remove volumes when we're moving between applications
  src/application-manager.coffee
Due: resin-lint

Add a supervisor endpoint to cleanup orphaned volumes
  docs/API.md
  package-lock.json
  src/application-manager.d.ts
  src/compose/volume-manager.ts
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Don't remove volumes when switching into local mode
  src/application-manager.coffee
Due: resin-lint

Add volume tests and fix test fixture setup for applications
  test/14-application-manager.spec.coffee
  test/lib/application-manager-test-states.coffee
Due: resin-lint

v10.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Don't attempt to cleanup any target state referenced volumes
  src/application-manager.d.ts
  src/compose/volume-manager.ts
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.0.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

WIP: Start of app-model upgrades
  package.json
  src/compose/application-manager.ts
  src/compose/application.ts
  src/compose/errors.ts
  src/compose/images.ts
  src/compose/network-manager.ts
  src/compose/network.ts
  src/compose/sanitise.ts
  src/compose/service.ts
  src/compose/types/service.ts
  src/compose/utils.ts
  src/config/index.ts
  src/device-state.coffee
  src/lib/docker-utils.ts
  src/types/application.ts
  test/00-init.coffee
  test/21-compose-application.spec.ts
  test/22-compose-application-manager.spec.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier
