Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Convert supervisor api module to typescript
  package.json
  src/config/index.ts
  src/supervisor-api.coffee
  src/supervisor-api.ts
  src/supervisor.coffee
  typings/blinking.d.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Only promisify read and write locks once
  src/config/configJson.ts
  src/device-state.coffee
  src/lib/update-lock.ts
  src/logger.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Convert ApiBinder module to typescript
  src/api-binder.coffee
  src/api-binder.ts
  src/lib/errors.ts
  src/lib/request.ts
  src/supervisor.coffee
  src/types/state.ts
  test/11-api-binder.spec.coffee
  typings/resin-register-device.d.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Specify TODO in DeviceApplicationState comment
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

misc: Update package-lock
  package-lock.json
Due: none

v9.2.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix context bind errors by switching to async/await
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.2.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

fix: Use logind manager to request reboots and shutdowns
  src/lib/systemd.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Remove scaffolding for unused mutable config functions
  src/config/functions.ts
  src/config/index.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Remove unnecessary validations and casts
  src/api-binder.ts
  src/application-manager.coffee
  src/compose/images.coffee
  src/device-api/v2.ts
  src/device-config.ts
  src/device-state.coffee
  src/lib/types.ts
  src/local-mode.ts
  src/supervisor-api.ts
  src/supervisor.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Fully type and validate config module set and get
  package.json
  src/config/configJson.ts
  src/config/functions.ts
  src/config/index.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/config/types.ts
  src/lib/errors.ts
  test/05-device-state.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Small code changes
  src/config/functions.ts
  src/config/index.ts
  src/config/schema-type.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.3.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Send connection message when streaming local mode logs
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.3.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

config: Properly type the change events from config module
  package.json
  src/config/index.ts
  src/local-mode.ts
  src/supervisor-api.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

misc: Add Nullable<T> helper type
  src/lib/validation.ts
  typings/global.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

typings: Improve docker-utils typings
  src/lib/docker-utils.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

typings: Improve database typings by allowing unknown dictionary keys
  src/db.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

deps: Update docker-toolbelt for typing fixes
  package-lock.json
  package.json
Due: none

refactor: Convert compose/images module to typescript
  src/application-manager.coffee
  src/application-manager.d.ts
  src/compose/images.coffee
  src/compose/images.d.ts
  src/compose/images.ts
  src/device-api/v2.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Convert volumes module to typescript
  src/application-manager.coffee
  src/compose/volumes.coffee
  src/compose/volumes.ts
  typings/dockerode-ext.d.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.4.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Use dictionary for db key
  src/db.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Prefer optional type in ConfigChangeMap
  src/config/index.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Clear up images.ts module code for simiplicity
  src/compose/images.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.4.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

fix: Fix intial config reporting
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.4.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

refactor: Convert docker-utils module to typescript
  src/application-manager.coffee
  src/compose/images.ts
  src/compose/network-manager.ts
  src/compose/network.ts
  src/compose/volumes.ts
  src/lib/docker-utils.coffee
  src/lib/docker-utils.d.ts
  src/lib/docker-utils.ts
  src/lib/request.ts
  src/logger.ts
  typings/docker-delta.d.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Improve error and logger typings
  src/lib/errors.ts
  src/logger.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

misc: Lint fixes
  src/compose/network-manager.ts
  src/compose/service.ts
  src/logger.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

refactor: Convert ServiceManager to typescript
  src/application-manager.coffee
  src/application-manager.d.ts
  src/compose/service-manager.coffee
  src/compose/service-manager.d.ts
  src/compose/service-manager.ts
  typings/JSONStream.d.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Upgrade to node 8 for supported architectures
  Dockerfile
Due: none

v9.6.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add missing ServiceManager methods
  src/compose/service-manager.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.6.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  resin-lint: any of: *.coffee
  prettier --config ./node_modules/resin-lint/config/.prettierrc --write: any of: *.{d.ts,ts}
  resin-lint --typescript --no-prettier: any of: *.{d.ts,ts}
