Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Don't treat a non-200 status response on patch as report errors
  package-lock.json
  package.json
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.7.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

tmp
  src/application-manager.ts
  src/compose/volume.ts
  src/proxyvisor.d.ts
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Tmp
  src/application-manager.ts
  src/proxyvisor.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Always back off on image fetch failure
  src/compose/images.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

fix: Request image authentication token with explicitly as json
  src/lib/docker-utils.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Improve error messages, and add description to ImageAuth error
  src/lib/docker-utils.ts
  src/logger.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.7.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Apply iptables rules to ipv6
  src/lib/iptables.ts
  test/06-iptables.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Symlink kernel modules and modprobe ip6_tables
  entry.sh
Due: none

v9.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Don't mount /lib/modules if it is already mounted
  entry.sh
Due: none

v9.8.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Revert "Upgrade to node 8 for supported architectures"
  Dockerfile
Due: none

v9.8.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Run iptables rules synchronous to avoid locking errors
  src/lib/iptables.ts
  test/06-iptables.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.8.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Increase max payload size in bodyparser to avoid PayloadTooLarge errors
  src/api-binder.ts
  src/application-manager.coffee
  src/device-state.coffee
  src/proxyvisor.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Fix provisioning workflow when UUID already exists
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.8.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

v9.8.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
Due: none

device-config: Add migration for SUPERVISOR_DELTA_APPLY_TIMEOUT
  src/migrations/M00003.js
Due: none

debug: Print more information about failing validations
  src/config/index.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.8.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

v9.8.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

asd
  package.json
  src/application-manager.ts
  src/compose/images.ts
  src/lib/docker-utils.ts
  src/proxyvisor.d.ts
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add migration for delta apply timeout without strict checking
  src/migrations/M00004.js
Due: none

feature: Add `BALENA_API_URL` environment variable when using the `balena-api` feature label
  src/compose/types/service.ts
  src/compose/utils.ts
  src/config/functions.ts
  src/config/schema-type.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.8.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

state-engine: Add rate limited steps to device-config
  src/device-config.ts
  src/device-state.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

fix: Fix connectivity active VPN check
  src/network.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

state-engine: Add an exponential backoff for device-config noops
  src/device-state.coffee
Due: resin-lint

v9.9.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add io.balena.features.usb to support libusb
  src/compose/utils.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

codeowners: Add @CameronDiver, @pcarranzav and @Page-
  .github/CODEOWNERS
Due: none

v9.9.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  resin-lint: any of: *.coffee
  prettier --config ./node_modules/resin-lint/config/.prettierrc --write: any of: *.{d.ts,ts}
  resin-lint --typescript --no-prettier: any of: *.{d.ts,ts}
