Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.{d.ts,ts}": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
}

v9.14.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix supervisor tests for node v10.12.0 and above
  src/logging/balena-backend.ts
  test/12-logger.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.14.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Show better logs for UpdatesLockedError
  src/device-state.coffee
Due: resin-lint

Clear backoff counter on new target state
  src/device-state.coffee
Due: resin-lint

Display update lock notification in dashboard logs
  src/device-state.coffee
Due: resin-lint

Format update lock logs with pretty-ms
  package-lock.json
  package.json
  src/device-state.coffee
Due: resin-lint

Allow system messages to not be tracked
  src/device-state.coffee
Due: resin-lint

v9.14.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Upgrade to node 10 for supported architectures
  Dockerfile
  package-lock.json
Due: none

Upgrade to node 8 for supported architectures
  Dockerfile
  package.json
Due: none

Make delta application logs easier to parse for multicontainer
  src/application-manager.coffee
  src/compose/images.ts
  src/lib/docker-utils.ts
  test/14-application-manager.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add debug build infrastructure and configuration
  Dockerfile.debug
  Makefile
  automation/build.sh
  circle.yml
  entry.sh
  package.json
Due: none

Upgrade debug builds to node 10 for supported architectures
  Dockerfile
  Dockerfile.debug
Due: none

Use balenalib base image for i386 base
  Dockerfile
  Dockerfile.debug
Due: none

Update sqlite3 to 4.0.9 to avoid arm build errors
  package-lock.json
  package.json
Due: none

Change install step to not mask errors
  Dockerfile
  Dockerfile.debug
Due: none

Add livepush capabilities for debug builds
  Dockerfile.debug
  package-lock.json
  package.json
  sync-debug.js
Due: none

v9.15.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix circle deploying of images
  circle.yml
Due: none

v9.15.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Dont check config.gz for loaded i6tables module
  entry.sh
Due: none

v9.15.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Move to resin-lint 3 and fix lint errors
  package-lock.json
  package.json
  src/api-binder.ts
  src/application-manager.d.ts
  src/compose/images.ts
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/utils.ts
  src/config/index.ts
  src/config/types.ts
  src/device-api/v2.ts
  src/device-config.ts
  src/lib/conversions.ts
  src/lib/fs-utils.ts
  src/local-mode.ts
  src/logging/balena-backend.ts
  src/logging/container.ts
  src/logging/local-backend.ts
  tslint.json
  typings/dbus-native.d.ts
  typings/docker-delta.d.ts
  typings/duration-js.d.ts
  typings/global.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.15.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix regression where node_modules stayed in resulting image
  Dockerfile
Due: none

Initial update step work
  src/applications/update-steps.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

tmp
  src/applications/application.ts
  src/applications/update-steps.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.15.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: remove legacy waffle link & gitter chat from README
  README.md
Due: none

v9.15.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

start of volume stuff
  src/applications/application.ts
  src/compose/application.ts
  src/compose/network-manager.ts
  src/compose/update-steps.ts
  src/compose/volume.ts
  typings/global.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add wrapper around container logs saving, to reduce db load
  src/logger.ts
  src/logging/monitor.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.15.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update balena-supervisor-base to v1.4.7
  Dockerfile
Due: none

v9.15.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add a controlling variable for mixpanel reporting
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/event-tracker.ts
  src/supervisor.coffee
  test/05-device-state.spec.coffee
  test/09-event-tracker.spec.coffee
  test/13-device-config.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.15.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update and improve debug and development tools
  Dockerfile.debug
  package-lock.json
  package.json
  sync-debug.js
Due: none

v9.15.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
