Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.{d.ts,ts}": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
}

Standardise all supervisor output logging
  package-lock.json
  package.json
  src/api-binder.ts
  src/application-manager.coffee
  src/compose/images.ts
  src/compose/network-manager.ts
  src/compose/sanitise.ts
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/utils.ts
  src/config/backend.ts
  src/config/configJson.ts
  src/device-api/v2.ts
  src/device-state.coffee
  src/event-tracker.ts
  src/lib/conversions.ts
  src/lib/docker-utils.ts
  src/lib/os-release.ts
  src/lib/supervisor-console.ts
  src/lib/validation.ts
  src/local-mode.ts
  src/logger.ts
  src/logging/balena-backend.ts
  src/logging/local-backend.ts
  src/logging/monitor.ts
  src/network.ts
  src/proxyvisor.coffee
  src/supervisor-api.ts
  src/supervisor.coffee
  sync-debug.js
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Pin prettier version to avoid changes in non-ci installs
  package-lock.json
  package.json
Due: none

Upgrade typescript and fix warnings
  package-lock.json
  package.json
  src/compose/images.ts
  src/config/index.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.16.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Revert "Add a controlling variable for mixpanel reporting"
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  src/event-tracker.ts
  src/supervisor.coffee
  test/05-device-state.spec.coffee
  test/09-event-tracker.spec.coffee
  test/13-device-config.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.16.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Re-parallelise current image retrieval code
  src/compose/images.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.16.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix typo in image selection
  src/compose/images.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.16.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Allow writing test files in typescript
  .gitignore
  Dockerfile
  Dockerfile.debug
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.release.json
  webpack.config.js
Due: none

Restart udev service and reboot on udev rule change
  src/device-config.ts
  src/lib/udev.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Allow the setting of udev rules from environment variables
  package-lock.json
  package.json
  src/api-binder.ts
  src/config/configJson.ts
  src/config/schema-type.ts
  src/config/schema.ts
  src/config/utils.ts
  src/device-config.ts
  test/20-synthetic-keys.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Make sync-debug much more reliable with logs
  Dockerfile.debug
  package-lock.json
  package.json
  sync-debug.js
Due: none

v9.16.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

v9.16.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Remove mochainon dependnecy
  package-lock.json
  package.json
  test/00-init.coffee
  test/01-constants.spec.coffee
  test/02-db.spec.coffee
  test/03-config.spec.coffee
  test/04-service.spec.coffee
  test/05-device-state.spec.coffee
  test/06-iptables.spec.coffee
  test/07-validation.spec.coffee
  test/08-blink.spec.coffee
  test/09-event-tracker.spec.coffee
  test/10-network.spec.coffee
  test/11-api-binder.spec.coffee
  test/12-logger.spec.coffee
  test/13-device-config.spec.coffee
  test/14-application-manager.spec.coffee
  test/15-conversions.spec.coffee
  test/16-ports.spec.coffee
  test/17-config-utils.spec.coffee
  test/18-compose-network.coffee
  test/18-startup.coffee
  test/19-compose-utils.coffee
  test/lib/chai-config.coffee
Due: resin-lint

v9.16.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Don't drop failed api patch data
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.16.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Report device state in local mode
  src/api-binder.ts
  test/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.17.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update the resinos version for the dind supervisor
  dindctl
  package-lock.json
Due: none

v9.17.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Change to https for cloning resinos-in-container submodule
  .gitmodules
Due: none

v9.17.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add sinon types
  package-lock.json
  package.json
Due: none

Clean up local mode engine objects using snapshots
  package-lock.json
  package.json
  src/local-mode.ts
  src/migrations/20190619152500-engine-snapshot.js
  test/local-mode.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Ensure we get input on parsing errors
  src/local-mode.ts
  test/local-mode.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Ensure local mode switch runs before target state
  src/application-manager.coffee
  src/device-state.coffee
  src/local-mode.ts
  test/local-mode.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.18.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix tests run removing .only
  test/local-mode.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.18.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Ensure that all architectures use a node version that supports ci
  Dockerfile
  Dockerfile.debug
Due: none

Use jessie base images for i386-nlp
  Dockerfile
  Dockerfile.debug
Due: none

v9.18.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
