Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.{d.ts,ts}": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
}

v8.6.7
  CHANGELOG.md
  package.json
Due: none

memory: Reduce memory usage by applying node command line flags
  entry.sh
Due: none

tmp
  src/config.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

logger-changes
  src/logger.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Revert "localMode: Remove local mode from device-config"
  src/device-config.coffee
  test/05-device-state.spec.coffee
Due: resin-lint

api: Ensure Supervisor API returns IP addresses
  src/device-state.coffee
Due: resin-lint

v8.6.8
  CHANGELOG.md
  package.json
Due: none

Move config.json back to config field in database
  src/config/functions.ts
  src/config/index.ts
  src/migrations/M00002.js
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

versionbot: Add changelog yml file
  .versionbot/CHANGELOG.yml
Due: none

v8.6.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix typo that prevented deleting old resin/ supervisor images
  src/compose/images.coffee
Due: resin-lint

v8.6.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

sync.js: Switch from resin-sync to balena-sync
  package-lock.json
  package.json
  sync.js
Due: none

Update knex to 0.15.2 and sqlite3 to 4.0.4
  package-lock.json
  package.json
  src/migrations/20181907164000-endpoint-specific-logschannel.js
Due: none

Remove the unused register-coffee-coverage
  package-lock.json
  package.json
Due: none

Update lodash to v4.17.5
  package.json
Due: none

Fix webpack loader for knex migrations so it works with knex 0.15.2
  hardcode-migrations.js
Due: none

Ignore additional knex mssql dependencies in webpack build
  webpack.config.js
Due: none

v8.6.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add the ability to restore volumes from a backup.tgz in the data partition
  src/api-binder.coffee
  src/application-manager.coffee
  src/compose/volumes.coffee
  src/device-state.coffee
  src/lib/constants.ts
  src/lib/fs-utils.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

dindctl: Allow mounting a backup.tgz to test migration backups
  .gitignore
  Makefile
  dindctl
  tools/dind/start-resin-supervisor
Due: none

Stricter validation for backup file contents
  src/device-state.coffee
Due: resin-lint

Use rimraf package instead of handmade function
  package-lock.json
  package.json
  src/device-state.coffee
Due: resin-lint

v8.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix sync.js after move to balena-sync
  sync.js
Due: none

v8.7.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Move config.json flag back to the database
  src/config/index.ts
  src/migrations/M00002.js
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Require an apikey for supervisor api in production unmanaged
  src/supervisor-api.coffee
Due: resin-lint

Switch to local mode in unmanaged mode
  src/config/functions.ts
  src/config/index.ts
  src/local-mode.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

fix: Give unmanaged target states a source of 'local'
  src/device-state.coffee
Due: resin-lint

config: Replace supervisorOfflineMode and offlineMode with unmanaged
  src/api-binder.coffee
  src/config/functions.ts
  src/config/index.ts
  src/device-config.coffee
  src/device-state.coffee
  src/event-tracker.ts
  src/logger.ts
  src/logging-backends/balena-backend.ts
  src/logging-backends/log-backend.ts
  src/supervisor.coffee
  test/09-event-tracker.spec.coffee
  test/11-api-binder.spec.coffee
  test/12-logger.spec.coffee
  test/data/testconfig-apibinder-offline.json
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

config: Force config values to strings when storing in db
  src/config/index.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

join: Disable local mode when joining a cloud
  src/api-binder.coffee
Due: resin-lint

unmanaged: Default to local mode in target state when unmanaged
  src/device-config.coffee
Due: resin-lint

Replace offline -> unmanaged in logs and tests
  src/api-binder.coffee
  test/09-event-tracker.spec.coffee
  test/11-api-binder.spec.coffee
Due: resin-lint

v9.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix a race condition that could cause an unnecessary restart of a service immediately after download
  src/application-manager.coffee
  src/device-state.coffee
Due: resin-lint

v9.0.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none
