Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

docs: Add documentation for v2/state/status endpoint
  docs/API.md
Due: none

docs: Standardise naming and json in api documentation
  docs/API.md
Due: none

v9.10.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Pin lodash types to avoid compile error
  package-lock.json
  package.json
Due: none

v9.10.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Skip dependency check on kill in local mode
  src/application-manager.coffee
Due: resin-lint

state-engine: Return a noop when waiting for a dependency
  src/application-manager.coffee
  test/14-application-manager.spec.coffee
Due: resin-lint

v9.10.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

device-api: Add v2/device/name endpoint
  docs/API.md
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

device-api: Add v2/device/tags api endpoint
  docs/API.md
  src/api-binder.ts
  src/application-manager.d.ts
  src/device-api/v2.ts
  src/supervisor.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

fix: Correct use of $expand to avoid an exception when updating from a legacy OS
  src/device-state.coffee
Due: resin-lint

v9.11.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

automation: Add missing pine-client-request library
  automation/package.json
Due: none

Fix typo when getting device config default values
  src/device-config.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.11.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: Await reporting the initial config before continuing APIBinder initialization
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.11.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: Return a promise when retrying provisioning to avoid continuing after a failure
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

fix: When pinning a preloaded device, ensure the pinning is done when retrying after a failure
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.11.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Ensure the supervisor0 network uses a subnet less likely to cause conflicts
  src/application-manager.coffee
  src/compose/network-manager.ts
  src/lib/constants.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

device-config: Use default values for any invalid target values
  src/config/index.ts
  src/device-config.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

events: Allow system messages to not be tracked
  src/logger.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

device-config: Show invalid values in dashboard logs
  src/device-config.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

misc: Update build stages to debian stretch
  Dockerfile
Due: none

v9.11.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

v9.12.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: Correctly compare and generate network membership aliases
  src/compose/service-manager.ts
  src/compose/service.ts
  test/04-service.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

misc: Fix lint errors
  src/compose/service.ts
  src/compose/utils.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Remove log-timestamp due to having journald logs
  src/app.coffee
Due: resin-lint

v9.12.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix typo in delta request error message
  src/lib/docker-utils.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.12.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Parallelise cache pulling for builds
  automation/build.sh
Due: none

v9.12.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Only modprobe ip6_tables if it's necessary
  entry.sh
Due: none

v9.12.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

test: Add a test case for deviceConfig.getDefaults
  test/13-device-config.spec.coffee
Due: resin-lint

v9.12.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix migration of legacy apps when there's more than one app in the local DB
  src/device-state.coffee
Due: resin-lint

Path conditions:
  resin-lint: any of: *.coffee
  prettier --config ./node_modules/resin-lint/config/.prettierrc --write: any of: *.{d.ts,ts}
  resin-lint --typescript --no-prettier: any of: *.{d.ts,ts}
